.button {
    -fx-background-color: #BEBEBE; /* 默认背景色 */
    -fx-text-fill: #000000;
    -fx-border-radius: 5px;
    -fx-font-size: 12px;
    -fx-end-margin: 10px;
    -fx-start-margin: 10px;
}

.button:hover {
    -fx-background-color: #A5F5F5; /* 鼠标悬停时的背景色 */
}
